:root {
  --clr-strong-cyan: hsl(171, 66%, 44%);
  --clr-light-blue: hsl(233, 100%, 69%);
  --clr-grayish-blue: hsl(201, 11%, 66%);
  --clr-dark-grayish-blue: hsl(210, 10%, 33%);
}

/* Global Selectors */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn {
  margin: auto;
  display: block;
  width: 80%;
  cursor: pointer;
  padding: 1rem 3rem;
  border-radius: 5rem;
  color: white;
  transition: 350ms;
}

.btn + .btn {
  margin-top: 1rem;
}

.btn-primary {
  background-color: var(--clr-strong-cyan);
  box-shadow: 0 3px hsl(171, 65%, 29%);
}

.btn-primary:hover {
  opacity: 0.8;
}

.btn-secondary {
  background-color: var(--clr-light-blue);
  box-shadow: 0 3px hsl(233, 44%, 41%);
}
.btn-secondary:hover {
  opacity: 0.8;
}
/* Global End */

/* Header Start */
header {
  padding: 4rem 0 1rem;
  background-color: #fff;
  background-image: url(/images/bg-header-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.logo {
  text-align: center;
}

/*Header End*/

/* Landing Start */
.landing {
  text-align: center;
  margin-top: 4rem;
}

.landing h1 {
  font-size: 2rem;
  line-height: 1.3;
  color: var(--clr-dark-grayish-blue);
}

.landing p {
  font-size: 1.025rem;
  line-height: 1.5;
  color: var(--clr-grayish-blue);
  margin-bottom: 3rem;
}

/* Medium Screens */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  header {
    background-image: url(/images/bg-header-desktop.png);
  }
  .btn {
    display: inline;
  }
  .btn + .btn {
    margin-left: 1rem;
  }
  .landing h1 {
    font-size: 2.5rem;
  }
  .landing p {
    font-size: 1.25rem;
    width: 45ch;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Large Screens */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .landing h1 {
    font-size: 3rem;
  }

  .landing p {
    font-size: 1.5rem;
  }
}
/* X-Large Screens */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/* XX-Large Screens */
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
