:root {
  --clr-strong-cyan: hsl(171, 66%, 44%);
  --clr-light-blue: hsl(233, 100%, 69%);
  --clr-grayish-blue: hsl(201, 11%, 66%);
  --clr-dark-grayish-blue: hsl(210, 10%, 33%);
}

/* Global Selectors */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
}

section {
  margin-top: 7rem;
}

:is(h1, h2, h3) {
  color: var(--clr-dark-grayish-blue);
  font-weight: 600;
}

p {
  color: var(--clr-grayish-blue);
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn {
  margin: auto;
  display: block;
  width: 80%;
  cursor: pointer;
  padding: 1.3rem 0;
  border-radius: 5rem;
  color: white;
  transition: 350ms;
}

.btn + .btn {
  margin-top: 1rem;
}

.btn-primary {
  background-color: var(--clr-strong-cyan);
  box-shadow: 0 3px hsl(171, 65%, 29%);
}

.btn-primary:hover {
  opacity: 0.8;
}

.btn-secondary {
  background-color: var(--clr-light-blue);
  box-shadow: 0 3px hsl(233, 44%, 41%);
}
.btn-secondary:hover {
  opacity: 0.8;
}

.section-title {
  text-align: center;
}
.section-title h3 {
  font-size: 1.75rem;
}
.section-title p {
  line-height: 1.6;
  margin-bottom: 3rem;
}
/* Global End */

/* Header Start */
header {
  padding: 4rem 0 1rem;
  background-color: #fff;
  background-image: url(/images/bg-header-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.logo {
  text-align: center;
}

/*Header End*/

/* Landing Start */
.landing {
  text-align: center;
}

.landing h1 {
  font-size: 2rem;
  line-height: 1.3;
}

.landing p {
  font-size: 1.025rem;
  line-height: 1.5;
  margin-bottom: 5rem;
}
/* Landing End */

/* About Start */
.about {
  text-align: center;
}
.about-info {
  margin-top: 4rem;
}
.about-info h3 {
  margin: 0;
}
/*About End*/

/* Access Start */
.access img {
  margin-left: auto;
  margin-right: auto;
}
/* Access Start */

/* Tools Start */
.tools-clients {
  text-align: center;
}
.tools,
.clients {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}
.clients {
  gap: 5rem;
}
/* Tools End */

/* Footer Start */
footer {
  text-align: center;
  margin-top: 5rem;
  padding: 3rem 0;
  background-color: #eee;
}
.footer-logo {
  width: 50px;
  margin-right: auto;
  margin-left: auto;
}

.footer-text {
  margin-top: 2rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
.footer-text a {
  color: var(--clr-dark-grayish-blue);
  transition: 350ms;
}
.footer-text a:hover {
  color: var(--clr-strong-cyan);
}

.social {
  margin-top: 2rem;
  transition: 350ms;
}

.social a + a {
  margin-left: 1.5rem;
}

/* Medium Screens */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  header {
    background-image: url(/images/bg-header-desktop.png);
  }
  p {
    width: 45ch;
    margin-left: auto;
    margin-right: auto;
  }
  .btn {
    display: inline;
    padding: 1.3rem 4rem;
  }
  .btn + .btn {
    margin-left: 1rem;
  }
  .landing h1 {
    font-size: 2.5rem;
  }
  .landing p {
    font-size: 1.25rem;
  }
}
/* Large Screens */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .landing h1 {
    font-size: 3rem;
  }

  .landing p {
    font-size: 1.5rem;
  }
  .about-content img {
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    padding: 1rem 0;
  }

  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer .left {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  footer .footer-text {
    flex-direction: row;
    margin: 0;
  }
  footer .right {
    text-align: end;
  }
  footer .social {
    margin: 0;
  }
}
/* X-Large Screens */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .about-info {
    text-align: start;
  }

  .about-info p {
    width: 25ch;
    margin-left: 0;
  }

  .about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
  }

  .about-content .about-text {
    width: 50%;
  }

  .about-content img {
    width: 50%;
  }
  .tools,
  .clients {
    flex-direction: row;
  }
  .tools p {
    width: 30ch;
  }
}
/* XX-Large Screens */
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
